#clockContainer{
    background-color: red;
    height: 40vw;
    width: 40vw;
    margin: auto;
    background: url(clock.jpg) no-repeat;
    /* border: 2px solid red; */
    background-size: 100%;
    position: relative;
}

#hours, #minutes, #seconds{
    /* background: black; */
    position: absolute;
    border-radius: 10px;
}

#hours{
    top: 14.7vw;
    left: 19.5vw;
    background: black;
    height: 8vw;
    width: 1vw;
    transform-origin: bottom;
    /* display: none; */
}
#minutes{
    top: 12.7vw;
    left: 19.6vw;
    background: red;
    height: 10vw;
    transform-origin: bottom;
    width: 0.8vw;
    /* display: none; */
}

#seconds{
    top: 10.7vw;
    left: 19.6vw;
    background: blue;
    height: 12vw;
    width: 0.6vw;
    transform-origin: bottom;
    /* display: none; */
}